<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- Listener to set up logging for GATE -->
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/gate-files/log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>
      org.springframework.web.util.Log4jConfigListener
    </listener-class>
  </listener>

  <!-- Listener to set up the spring context -->
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <!-- Servlet to publish the GateHandler -->
  <servlet>
    <servlet-name>gateHandler</servlet-name>
    <servlet-class>
      org.springframework.web.context.support.HttpRequestHandlerServlet
    </servlet-class>
  </servlet>

  <!-- mapping to make the servlet available at a URL -->
  <servlet-mapping>
    <servlet-name>gateHandler</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>
</web-app>
